.console-log-div {
  width: 95% !important;
  max-width: 300px;
  background-color: #efefef;
}
#log {
  margin: 10px 0px;
  display: block;
  white-space: pre;
  font-family: monospace;
}
#log:before {
  content: "log javascript:";
  font-style: italic;
  color: #555;
}
table td{
  border: 1px solid black;
}